version: '3.8'
services:
  backend:
    build: ./backend
    environment:
      - OLLAMA_BASE_URL=http://127.0.0.1:11434
    network_mode: host
    restart: unless-stopped

  frontend:
    build: ./frontend
    ports:
      - '3000:90'
    depends_on:
      - backend
